In [271]:
import pandas as pd
import numpy as np

In [272]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [273]:
pd.set_option('display.max_columns', 100)

In [274]:
# EDA
train.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,Married,Householder,Householder,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,Separated,Nonfamily householder,Householder,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,Married,Householder,Householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,Divorced,Nonfamily householder,Householder,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,Divorced,Householder,Householder,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570

In [275]:
test.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,TEST_0000,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,Nonfamily householder,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,TEST_0001,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,TEST_0002,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,TEST_0003,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,Married,Spouse of householder,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,TEST_0004,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown

In [276]:
train.shape, test.shape

((20000, 23), (10000, 22))

In [277]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      20000 non-null  object
 1   Age                     20000 non-null  int64
 2   Gender                  20000 non-null  object
 3   Education_Status        20000 non-null  object
 4   Employment_Status       20000 non-null  object
 5   Working_Week (Yearly)   20000 non-null  int64
 6   Industry_Status         20000 non-null  object
 7   Occupation_Status       20000 non-null  object
 8   Race                    20000 non-null  object
 9   Hispanic_Origin         20000 non-null  object
 10  Martial_Status          20000 non-null  object
 11  Household_Status        20000 non-null  object
 12  Household_Summary       20000 non-null  object
 13  Citizenship             20000 non-null  object
 14  Birth_Country           20000 non-null  object
 15  Birth_Country (Father)  20000 non-null  object
 16  Birth_Country (Mother)  20000 non-null  object
 17  Tax_Status              20000 non-null  object
 18  Gains                   20000 non-null  int64
 19  Losses                  20000 non-null  int64
 20  Dividends               20000 non-null  int64
 21  Income_Status           20000 non-null  object
 22  Income                  20000 non-null  int64
dtypes: int64(6), object(17)
memory usage: 3.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      10000 non-null  object
 1   Age                     10000 non-null  int64
 2   Gender                  10000 non-null  object
 3   Education_Status        10000 non-null  object
 4   Employment_Status       10000 non-null  object
 5   Working_Week (Yearly)   10000 non-null  int64
 6   Industry_Status         10000 non-null  object
 7   Occupation_Status       10000 non-null  object
 8   Race                    10000 non-null  object
 9   Hispanic_Origin         10000 non-null  object
 10  Martial_Status          10000 non-null  object
 11  Household_Status        9999 non-null   object
 12  Household_Summary       10000 non-null  object
 13  Citizenship             10000 non-null  object
 14  Birth_Country           10000 non-null  object
 15  Birth_Country (Father)  10000 non-null  object
 16  Birth_Country (Mother)  10000 non-null  object
 17  Tax_Status              10000 non-null  object
 18  Gains                   10000 non-null  int64
 19  Losses                  10000 non-null  int64
 20  Dividends               10000 non-null  int64
 21  Income_Status           10000 non-null  object
dtypes: int64(5), object(17)
memory usage: 1.7+ MB

(None, None)

In [278]:
train.isnull().sum()

ID                        0
Age                       0
Gender                    0
Education_Status          0
Employment_Status         0
Working_Week (Yearly)     0
Industry_Status           0
Occupation_Status         0
Race                      0
Hispanic_Origin           0
Martial_Status            0
Household_Status          0
Household_Summary         0
Citizenship               0
Birth_Country             0
Birth_Country (Father)    0
Birth_Country (Mother)    0
Tax_Status                0
Gains                     0
Losses                    0
Dividends                 0
Income_Status             0
Income                    0
dtype: int64

In [279]:
test.isnull().sum()

ID                        0
Age                       0
Gender                    0
Education_Status          0
Employment_Status         0
Working_Week (Yearly)     0
Industry_Status           0
Occupation_Status         0
Race                      0
Hispanic_Origin           0
Martial_Status            0
Household_Status          1
Household_Summary         0
Citizenship               0
Birth_Country             0
Birth_Country (Father)    0
Birth_Country (Mother)    0
Tax_Status                0
Gains                     0
Losses                    0
Dividends                 0
Income_Status             0
dtype: int64

In [280]:
test[test['Household_Status'].isnull()]

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
2659,TEST_2659,20,F,College,Children or Armed Forces,0,Not in universe or children,Unknown,Black,All other,Single,NaN,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median

In [281]:
test['Household_Status'].value_counts()

Householder                                                               3128
Spouse of householder                                                     2418
Child <18 never marr not in subfamily                                     1290
Nonfamily householder                                                     1191
Child 18+ never marr Not in a subfamily                                    910
Secondary individual                                                       415
Other Rel 18+ never marr not in subfamily                                  110
Other Rel 18+ ever marr not in subfamily                                    78
Child 18+ ever marr Not in a subfamily                                      63
Child 18+ ever married Responsible Person of subfamily                      57
Responsible Person of unrelated subfamily                                   38
Grandchild <18 never marr not in subfamily                                  37
Other Relative 18+ spouse of subfamily Responsible Person                   35
Child 18+ never married Responsible Person of subfamily                     35
Other Relative 18+ ever married Responsible Person of subfamily             35
Grandchild <18 never married child of subfamily Responsible Person          33
Grandchild 18+ never marr not in subfamily                                  32
Child under 18 of Responsible Person of unrelated subfamily                 23
Other Relative <18 never married child of subfamily Responsible Person      18
Other Rel <18 never marr not in subfamily                                   14
In group quarters                                                           10
Other Relative 18+ never married Responsible Person of subfamily            10
Spouse of Responsible Person of unrelated subfamily                          6
Grandchild 18+ ever marr not in subfamily                                    5
Child 18+ spouse of subfamily Responsible Person                             4
Child <18 never married Responsible Person of subfamily                      3
Child <18 ever marr not in subfamily                                         1
Name: Household_Status, dtype: int64

In [282]:
train.describe()

,Age,Working_Week (Yearly),Gains,Losses,Dividends,Income
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,35.632500,34.943050,383.129500,40.202150,123.451450,554.565250
std,17.994414,22.254592,4144.247487,279.182677,1206.949429,701.553155
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,7.000000,0.000000,0.000000,0.000000,0.000000
50%,34.000000,52.000000,0.000000,0.000000,0.000000,500.000000
75%,47.000000,52.000000,0.000000,0.000000,0.000000,875.000000
max,90.000000,52.000000,99999.000000,4356.000000,45000.000000,9999.000000

In [283]:
train['Age'].unique()

array([63, 37, 58, 44, 55, 67, 64, 24, 53, 56, 75, 34, 40, 21, 10, 48, 36,
       29, 28, 16, 31, 76, 39, 49, 60, 15, 59, 23, 35, 57, 17, 18,  7, 52,
       41, 42, 30, 43, 22, 61, 46, 19, 27, 38, 50, 26,  5, 81, 47, 25, 12,
       66, 82, 70, 11, 51, 13, 45, 33, 54, 14,  9, 71, 80, 32,  1,  8, 20,
        6,  2, 73, 62,  3, 83, 72,  0, 69, 65,  4, 90, 85, 74, 68, 84, 77,
       79, 78, 86, 87, 88, 89])

In [284]:
ages = [16,15,17,18,7,5,12,11,13,14,9,1,8,6,2,3,0,4]
train[train['Age'].isin(ages)==True]

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
21,TRAIN_00021,16,F,High Freshman,Not Working,14,Not in universe or children,Unknown,White,All other,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Single,0,0,0,Under Median,0
29,TRAIN_00029,15,F,Middle (7-8),Children or Armed Forces,12,Social Services,Services,White,All other,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Under Median,0
35,TRAIN_00035,16,F,High Freshman,Not Working,0,Not in universe or children,Unknown,White,Puerto Rican,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,Puerto-Rico,Puerto-Rico,Nonfiler,0,0,0,Under Median,0
38,TRAIN_00038,17,F,High Junior,Children or Armed Forces,52,Medical (except Hospitals),Services,White,All other,Single,Other Relative <18 never married child of subf...,Other relative of householder,Native,US,US,US,Single,0,0,0,Unknown,0
39,TRAIN_00039,18,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19975,TRAIN_19975,18,M,High Sophomore,Not Working,0,Not in universe or children,Unknown,White,All other,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Unknown,0
19982,TRAIN_19982,18,F,High Freshman,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,Married (Spouse Absent),Householder,Householder,Native,US,Mexico,US,Nonfiler,0,0,0,Unknown,0
19989,TRAIN_19989,14,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown,0
19990,TRAIN_19990,8,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,Asian/Pacific,All other,Single,Child <18 never marr not in subfamily,Child under 18 never married,Foreign-born (Non-US Citizen),Japan,Japan,Japan,Nonfiler,0,0,0,Unknown,0
19994,TRAIN_19994,17,F,High Sophomore,Not Working,0,Not in universe or children,Unknown,White,All other,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Under Median,0

In [285]:
train['Industry_Status'].value_counts()

Not in universe or children                     4688
Retail                                          3149
Manufacturing (Durable)                         1575
Manufacturing (Non-durable)                     1223
Education                                       1041
Business & Repair                                847
Medical (except Hospitals)                       838
Construction                                     832
Hospitals                                        821
Finance Insurance & Real Estate                  727
Transportation                                   693
Public Administration                            641
Other professional services                      477
Wholesale                                        450
Personal Services (except Private Household)     429
Social Services                                  367
Entertainment                                    278
Agriculture                                      268
Utilities & Sanitary                             202
Communications                                   195
Private Household Services                       125
Mining                                           107
Forestry & Fisheries                              26
Armed Forces                                       1
Name: Industry_Status, dtype: int64

In [286]:
train['Occupation_Status'].value_counts()

Unknown                             4688
Admin Support (include Clerical)    2709
Services                            2313
Craft & Repair                      1869
Sales                               1692
Professional                        1488
Machine Operators & Inspectors      1383
Management                          1111
Handlers/Cleaners                    837
Transportation                       690
Technicians & Support                558
Farming & Forestry & Fishing         296
Protective Services                  260
Private Household Services           105
Armed Forces                           1
Name: Occupation_Status, dtype: int64

In [287]:
train['Household_Status'].value_counts()

Householder                                                               6087
Spouse of householder                                                     4794
Child <18 never marr not in subfamily                                     2670
Nonfamily householder                                                     2465
Child 18+ never marr Not in a subfamily                                   1860
Secondary individual                                                       845
Other Rel 18+ never marr not in subfamily                                  195
Other Rel 18+ ever marr not in subfamily                                   154
Child 18+ ever marr Not in a subfamily                                     118
Child 18+ ever married Responsible Person of subfamily                     101
Child 18+ never married Responsible Person of subfamily                     96
Grandchild <18 never married child of subfamily Responsible Person          88
Responsible Person of unrelated subfamily                                   87
Other Relative 18+ ever married Responsible Person of subfamily             77
Other Relative 18+ spouse of subfamily Responsible Person                   73
Grandchild 18+ never marr not in subfamily                                  63
Grandchild <18 never marr not in subfamily                                  43
Child under 18 of Responsible Person of unrelated subfamily                 39
Other Rel <18 never marr not in subfamily                                   36
Other Relative <18 never married child of subfamily Responsible Person      27
In group quarters                                                           26
Other Relative 18+ never married Responsible Person of subfamily            19
Child 18+ spouse of subfamily Responsible Person                            16
Child <18 never married Responsible Person of subfamily                      8
Child <18 ever marr not in subfamily                                         3
Spouse of Responsible Person of unrelated subfamily                          3
Grandchild 18+ ever marr not in subfamily                                    3
Grandchild 18+ spouse of subfamily Responsible Person                        1
Grandchild 18+ ever married Responsible Person of subfamily                  1
Child <18 ever married Responsible Person of subfamily                       1
Other Relative <18 ever married Responsible Person of subfamily              1
Name: Household_Status, dtype: int64

In [288]:
train['Household_Summary'].value_counts()

Householder                             8552
Spouse of householder                   4794
Child under 18 never married            2679
Child 18 or older                       2192
Nonrelative of householder               974
Other relative of householder            781
Group Quarters- Secondary individual      24
Child under 18 ever married                4
Name: Household_Summary, dtype: int64

In [289]:
train['Citizenship'].value_counts()

Native                                         17825
Foreign-born (Non-US Citizen)                   1258
Foreign-born (Naturalized US Citizen)            588
Native (Born Abroad)                             197
Native (Born in Puerto Rico or US Outlying)      132
Name: Citizenship, dtype: int64

In [290]:
train['Birth_Country'].value_counts()

US                              17825
Mexico                            540
Unknown                           330
Puerto-Rico                       117
Philippines                       112
Germany                            90
Canada                             75
El-Salvador                        68
Cuba                               58
India                              55
Dominican-Republic                 49
England                            47
Poland                             45
Jamaica                            45
Columbia                           36
Italy                              35
South Korea                        31
Vietnam                            31
Ecuador                            31
Japan                              30
Portugal                           29
Nicaragua                          28
China                              28
Guatemala                          28
Haiti                              25
Iran                               24
Peru                               22
Ireland                            21
Hong Kong                          16
Outlying-U S (Guam USVI etc)       15
France                             14
Honduras                           14
Greece                             13
Laos                               11
Taiwan                             11
Thailand                           10
Cambodia                            8
Trinadad&Tobago                     8
Yugoslavia                          7
Scotland                            7
Panama                              4
Hungary                             4
Holand-Netherlands                  3
Name: Birth_Country, dtype: int64

In [291]:
train['Birth_Country (Father)'].value_counts()

US                              16563
Mexico                            845
Unknown                           581
Puerto-Rico                       206
Italy                             197
Canada                            128
Philippines                       121
Poland                            110
Dominican-Republic                 99
Germany                            92
El-Salvador                        83
Cuba                               78
England                            69
China                              69
India                              68
Jamaica                            56
Ireland                            47
Portugal                           47
Columbia                           45
Ecuador                            42
Haiti                              37
South Korea                        34
Guatemala                          33
Greece                             33
Vietnam                            32
Nicaragua                          30
Japan                              28
Scotland                           27
Peru                               26
Iran                               25
Hungary                            22
Yugoslavia                         18
France                             17
Cambodia                           13
Laos                               12
Honduras                           12
Outlying-U S (Guam USVI etc)       12
Trinadad&Tobago                    11
Taiwan                             10
Hong Kong                           8
Thailand                            7
Holand-Netherlands                  5
Panama                              2
Name: Birth_Country (Father), dtype: int64

In [292]:
train['Gains'].unique()

array([    0,  3411,  7298,  5178, 99999, 15024,  7688,  3464,  1848,
        5556,  2174,  4865,  3137,  6849,  7443, 10566,  9386,  1086,
        1471,  2176,  2829,  4386, 10520,  3908, 14344,  8614,  4101,
        3471,  1055,  1409, 13550,  1831,  2964,  4416,  4650, 27828,
        3103,   594,  1506,   991,  5013,   114,  4787,  3325,  3674,
         914, 14084,  7896,  4064,  2062, 20051,  2354,  3273,  2580,
        2463,  2597, 25124,  3887,  2050,  6723,  4508,  2407,  2329,
        1424,  2009, 15831,  3781,  2993,  2907,  3418,  3942,  6418,
        4687,  2202,  2885,  3818,  2635,  6497,  2414, 11678,  2228,
        2977,  2653,  7430,  3456,  1455,  2290,  4931,   401,  6767,
        1797,  2105,  5060,  3432,  1173,  5455, 10605,  9562,  2936,
        6360,  5721,  2961, 18481,  6514,  2227,  1151])

In [293]:
train['Tax_Status'].value_counts()

Married Filling Jointly both under 65 (MFJ)                 8588
Single                                                      5547
Nonfiler                                                    3874
Head of Household (HOH)                                     1217
Married Filling Jointly both over 65 (MFJ)                   469
Married Filling Jointly one over 65 & one under 65 (MFJ)     305
Name: Tax_Status, dtype: int64

In [294]:
test.isnull().sum()

ID                        0
Age                       0
Gender                    0
Education_Status          0
Employment_Status         0
Working_Week (Yearly)     0
Industry_Status           0
Occupation_Status         0
Race                      0
Hispanic_Origin           0
Martial_Status            0
Household_Status          1
Household_Summary         0
Citizenship               0
Birth_Country             0
Birth_Country (Father)    0
Birth_Country (Mother)    0
Tax_Status                0
Gains                     0
Losses                    0
Dividends                 0
Income_Status             0
dtype: int64

In [295]:
train[train['Age']<0]

Empty DataFrame
Columns: [ID, Age, Gender, Education_Status, Employment_Status, Working_Week (Yearly), Industry_Status, Occupation_Status, Race, Hispanic_Origin, Martial_Status, Household_Status, Household_Summary, Citizenship, Birth_Country, Birth_Country (Father), Birth_Country (Mother), Tax_Status, Gains, Losses, Dividends, Income_Status, Income]
Index: []

In [296]:
test[test['Household_Summary']=='Other relative of householder']

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
35,TEST_0035,16,M,High Sophomore,Not Working,0,Not in universe or children,Unknown,White,All other,Single,Other Relative <18 never married child of subf...,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Unknown
49,TEST_0049,5,F,Children,Children or Armed Forces,0,Not in universe or children,Unknown,Black,All other,Single,Grandchild <18 never married child of subfamil...,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median
104,TEST_0104,24,F,College,Part-Time (Usually Part-Time),52,Public Administration,Admin Support (include Clerical),White,Mexican-American,Married,Other Relative 18+ spouse of subfamily Respons...,Other relative of householder,Native,US,US,Mexico,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median
128,TEST_0128,19,M,College,Children or Armed Forces,50,Retail,Services,Native American/Aleut/Eskimo,All other,Single,Other Rel 18+ never marr not in subfamily,Other relative of householder,Native,US,US,US,Single,0,0,0,Under Median
189,TEST_0189,23,M,College,Children or Armed Forces,26,Manufacturing (Non-durable),Handlers/Cleaners,White,All other,Single,Grandchild 18+ never marr not in subfamily,Other relative of householder,Native,US,US,US,Single,0,0,0,Under Median
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9925,TEST_9925,23,M,High graduate,Full-Time,52,Transportation,Craft & Repair,White,Mexican-American,Single,Other Rel 18+ never marr not in subfamily,Other relative of householder,Native,US,US,US,Single,0,0,0,Under Median
9927,TEST_9927,24,M,High Freshman,Full-Time,0,Manufacturing (Non-durable),Machine Operators & Inspectors,White,All other,Single,Other Rel 18+ never marr not in subfamily,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median
9947,TEST_9947,22,M,High graduate,Full-Time,52,Public Administration,Protective Services,Native American/Aleut/Eskimo,All other,Single,Other Relative 18+ never married Responsible P...,Other relative of householder,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median
9960,TEST_9960,23,F,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,Black,All other,Single,Grandchild 18+ never marr not in subfamily,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median
9989,TEST_9989,80,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,Widowed,Other Rel 18+ ever marr not in subfamily,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median

In [297]:
test[test['Household_Status'].isna()]

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
2659,TEST_2659,20,F,College,Children or Armed Forces,0,Not in universe or children,Unknown,Black,All other,Single,NaN,Other relative of householder,Native,US,US,US,Nonfiler,0,0,0,Under Median

In [298]:
test.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,TEST_0000,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,Nonfamily householder,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,TEST_0001,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,TEST_0002,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,TEST_0003,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,Married,Spouse of householder,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,TEST_0004,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown

#

In [299]:
# drop_cols = ['Age', 'Hispanic_Origin', 'Household_Status', 'Birth_Country (Father)', 'Birth_Country (Mother)']
# drop_cols = ['Age', 'Household_Status']
# drop_cols = ['Age']
drop_cols = ['Losses','Birth_Country (Father)','Birth_Country (Mother)','Tax_Status','Birth_Country','Gains']

train = train.drop(drop_cols, axis=1)
test = test.drop(drop_cols, axis=1)

train.head()

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,Married,Householder,Householder,Native,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,Separated,Nonfamily householder,Householder,Native,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,Married,Householder,Householder,Native,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,Divorced,Nonfamily householder,Householder,Native,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,Divorced,Householder,Householder,Native,0,Unknown,570

In [300]:
print(test.isnull().sum().sum())
# test['Household_Status'] = test['Household_Status'].fillna(test['Household_Status'].mode()[0])
test.loc[2659, 'Household_Status'] = 'Other Rel 18+ never marr not in subfamily'
print(test.isnull().sum().sum())

1
0

In [301]:
train = train.drop('ID', axis=1)
test_id = test.pop('ID')
test.head()

,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,Martial_Status,Household_Status,Household_Summary,Citizenship,Dividends,Income_Status
0,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,Single,Nonfamily householder,Householder,Native,0,Under Median
1,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,0,Under Median
2,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,Single,Child 18+ never marr Not in a subfamily,Child 18 or older,Native,0,Under Median
3,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,Married,Spouse of householder,Spouse of householder,Native,0,Unknown
4,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,Single,Child <18 never marr not in subfamily,Child under 18 never married,Native,0,Unknown

In [302]:
# 
n_train = train.select_dtypes(exclude='object').copy()
c_train = train.select_dtypes(include='object').copy()
n_test = test.select_dtypes(exclude='object').copy()
c_test = test.select_dtypes(include='object').copy()

In [303]:
# 
# from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import RobustScaler

cols = test.select_dtypes(exclude='object').columns
# scaler = StandardScaler()
scaler = MinMaxScaler()
# scaler = RobustScaler()

print(n_train.head())
n_train[cols] = scaler.fit_transform(n_train[cols])
n_test[cols] = scaler.transform(n_test[cols])
print(n_train.head())

   Age  Working_Week (Yearly)  Dividends  Income
0   63                      4          0     425
1   37                     52          0       0
2   58                     52          0     860
3   44                     52          0     850
4   37                     52          0     570
        Age  Working_Week (Yearly)  Dividends  Income
0  0.700000               0.076923        0.0     425
1  0.411111               1.000000        0.0       0
2  0.644444               1.000000        0.0     860
3  0.488889               1.000000        0.0     850
4  0.411111               1.000000        0.0     570

In [304]:
# 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

cols = test.select_dtypes(include='object').columns
print(c_train.head())

# 
for col in cols:
  le = LabelEncoder()
  c_train[col] = le.fit_transform(c_train[col])
  c_test[col] = le.transform(c_test[col])

# # 
# c_train = pd.get_dummies(c_train[cols])
# c_test = pd.get_dummies(c_test[cols])


print(c_train.head())

  Gender                Education_Status Employment_Status  \
0      M                    Middle (7-8)         Full-Time
1      M  Associates degree (Vocational)         Full-Time
2      F                   High graduate         Full-Time
3      M                   High graduate         Full-Time
4      F                   High graduate         Full-Time

               Industry_Status                 Occupation_Status   Race  \
0              Social Services                          Services  White
1                Entertainment                          Services  White
2  Manufacturing (Non-durable)  Admin Support (include Clerical)  Black
3                       Retail             Technicians & Support  White
4                       Retail                             Sales  White

  Hispanic_Origin Martial_Status       Household_Status Household_Summary  \
0       All other        Married            Householder       Householder
1       All other      Separated  Nonfamily householder       Householder
2       All other        Married            Householder       Householder
3       All other       Divorced  Nonfamily householder       Householder
4       All other       Divorced            Householder       Householder

  Citizenship Income_Status
0      Native       Unknown
1      Native  Under Median
2      Native  Under Median
3      Native  Under Median
4      Native       Unknown
   Gender  Education_Status  Employment_Status  Industry_Status  \
0       1                15                  2               20
1       1                 1                  2                6
2       0                12                  2               11
3       1                12                  2               19
4       0                12                  2               19

   Occupation_Status  Race  Hispanic_Origin  Martial_Status  Household_Status  \
0                 11     4                0               1                16
1                 11     4                0               4                18
2                  0     1                0               1                16
3                 12     4                0               0                18
4                 10     4                0               0                16

   Household_Summary  Citizenship  Income_Status
0                  4            2              2
1                  4            2              1
2                  4            2              1
3                  4            2              1
4                  4            2              2

In [305]:
# 
print(train.shape, test.shape)
train = pd.concat([n_train, c_train], axis=1)
test = pd.concat([n_test, c_test], axis=1)
print(train.shape, test.shape)

(20000, 16) (10000, 15)
(20000, 16) (10000, 15)

In [306]:
# #  
# train.columns = train.columns.str.replace(r'\([^)]*\)', '', regex=True)
# test.columns = test.columns.str.replace(r'\([^)]*\)', '', regex=True)

# train.columns = train.columns.str.replace(r' ', '_', regex=True)
# test.columns = test.columns.str.replace(r' ', '_', regex=True)

In [307]:
#  
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train.drop('Income', axis=1), train['Income'], test_size=0.2, random_state=0)

print(X_tr.head())

            Age  Working_Week (Yearly)  Dividends  Gender  Education_Status  \
17815  0.433333               0.153846        0.0       1                 4
18370  0.355556               1.000000        0.0       0                12
1379   0.077778               0.000000        0.0       0                 3
14763  0.255556               0.000000        0.0       0                 2
7346   0.533333               1.000000        0.0       0                12

       Employment_Status  Industry_Status  Occupation_Status  Race  \
17815                  0                2                 12     4
18370                  0                7                 12     4
1379                   0               14                 14     4
14763                  0               14                 14     4
7346                   0               12                 11     4

       Hispanic_Origin  Martial_Status  Household_Status  Household_Summary  \
17815                0               1                16                  4
18370                0               0                16                  4
1379                 0               5                 7                  2
14763                0               5                28                  5
7346                 0               1                30                  7

       Citizenship  Income_Status
17815            2              1
18370            2              2
1379             2              2
14763            2              1
7346             2              1

In [39]:
pip install flaml

Collecting flaml
  Downloading FLAML-2.1.2-py3-none-any.whl (296 kB)
      296.7/296.7 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: NumPy>=1.17 in /usr/local/lib/python3.10/dist-packages (from flaml) (1.25.2)
Installing collected packages: flaml
Successfully installed flaml-2.1.2

In [ ]:
# AutoML
from flaml import AutoML
from sklearn.metrics import mean_squared_error, r2_score

automl = AutoML()
times = [i for i in range(60, 301, 60)] # 1~5
# estimators = [['lgbm'], ['xgboost']] #   

# for estimator in estimators:
for time in times:

  automl.fit(X_train=X_tr, y_train=y_tr, task="regression", time_budget=time, verbose=False)
  print('time:', time)
  print('Best ML model:', automl.model)
  print('Best hyperparameter config:', automl.best_config)
  print('Best accuracy on validation data: {0:.4g}'.format(1-automl.best_loss))
  print('Training duration of best run: {0:.4g} s'.format(automl.best_config_train_time))

  y_pred = automl.predict(X_val)
  rmse = mean_squared_error(y_val, y_pred)**0.5
  r2 = r2_score(y_val, y_pred)
  print('RMSE =', rmse)
  print('R-squared (R2) =', r2)

  ft = pd.Series(automl.feature_importances_,
        index=automl.feature_names_in_)\
  .sort_values(ascending=False)
  print(ft)

  print('\n')

time: 60
Best ML model: <flaml.automl.model.ExtraTreesEstimator object at 0x7fe152553e80>
Best hyperparameter config: {'n_estimators': 14, 'max_features': 0.7636178721927975, 'max_leaves': 321}
Best accuracy on validation data: 0.2823
Training duration of best run: 0.3005 s
RMSE = 634.744429799596
R-squared (R2) = 0.24347965761361234
Working_Week (Yearly)    0.330498
Occupation_Status        0.216668
Industry_Status          0.078591
Age                      0.060596
Education_Status         0.053476
Dividends                0.037886
Income_Status            0.036485
Household_Status         0.031149
Employment_Status        0.028698
Martial_Status           0.028397
Gender                   0.024663
Citizenship              0.019578
Race                     0.019546
Household_Summary        0.017708
Hispanic_Origin          0.016062
dtype: float64


time: 120
Best ML model: <flaml.automl.model.XGBoostSklearnEstimator object at 0x7fe17c4afeb0>
Best hyperparameter config: {'n_estimators': 118, 'max_leaves': 24, 'min_child_weight': 37.96421935119476, 'learning_rate': 0.03477453339285524, 'subsample': 0.8895588746662894, 'colsample_bylevel': 0.6660300783399921, 'colsample_bytree': 0.7687347548284573, 'reg_alpha': 0.006245321157400402, 'reg_lambda': 0.15676699713688858}
Best accuracy on validation data: 0.2908
Training duration of best run: 0.2539 s
RMSE = 621.5582105803869
R-squared (R2) = 0.2745851712923689
Working_Week (Yearly)    0.329960
Occupation_Status        0.188348
Industry_Status          0.065130
Age                      0.059012
Gender                   0.045684
Household_Summary        0.042655
Household_Status         0.036647
Martial_Status           0.036214
Hispanic_Origin          0.036005
Income_Status            0.030928
Education_Status         0.029534
Citizenship              0.027676
Employment_Status        0.024691
Dividends                0.024605
Race                     0.022909
dtype: float32


time: 180
Best ML model: <flaml.automl.model.XGBoostSklearnEstimator object at 0x7fe152f2b190>
Best hyperparameter config: {'n_estimators': 239, 'max_leaves': 53, 'min_child_weight': 36.22339203408397, 'learning_rate': 0.011745635979293087, 'subsample': 1.0, 'colsample_bylevel': 0.691985046419703, 'colsample_bytree': 0.6671514132745426, 'reg_alpha': 0.004227752929472495, 'reg_lambda': 0.3797982226828719}
Best accuracy on validation data: 0.2912
Training duration of best run: 2.162 s
RMSE = 622.2158385074106
R-squared (R2) = 0.2730493363202109
Occupation_Status        0.260796
Working_Week (Yearly)    0.210351
Industry_Status          0.083182
Age                      0.067871
Gender                   0.046414
Employment_Status        0.042523
Hispanic_Origin          0.037965
Household_Status         0.034826
Household_Summary        0.034795
Income_Status            0.034270
Martial_Status           0.033184
Education_Status         0.032253
Citizenship              0.029871
Dividends                0.027291
Race                     0.024406
dtype: float32


time: 240
Best ML model: <flaml.automl.model.XGBoostSklearnEstimator object at 0x7fe1502b72b0>
Best hyperparameter config: {'n_estimators': 239, 'max_leaves': 53, 'min_child_weight': 36.22339203408397, 'learning_rate': 0.011745635979293087, 'subsample': 1.0, 'colsample_bylevel': 0.691985046419703, 'colsample_bytree': 0.6671514132745426, 'reg_alpha': 0.004227752929472495, 'reg_lambda': 0.3797982226828719}
Best accuracy on validation data: 0.2912
Training duration of best run: 0.753 s
RMSE = 622.2158385074106
R-squared (R2) = 0.2730493363202109
Occupation_Status        0.260796
Working_Week (Yearly)    0.210351
Industry_Status          0.083182
Age                      0.067871
Gender                   0.046414
Employment_Status        0.042523
Hispanic_Origin          0.037965
Household_Status         0.034826
Household_Summary        0.034795
Income_Status            0.034270
Martial_Status           0.033184
Education_Status         0.032253
Citizenship              0.029871
Dividends                0.027291
Race                     0.024406
dtype: float32

In [42]:
# best  pick

automl.fit(X_train=X_tr, y_train=y_tr, task="regression", time_budget=60, verbose=False)
print('time:', time_budget)
print('Best ML model:', automl.model)
print('Best hyperparameter config:', automl.best_config)
print('Best accuracy on validation data: {0:.4g}'.format(1-automl.best_loss))
print('Training duration of best run: {0:.4g} s'.format(automl.best_config_train_time))

y_pred = automl.predict(X_val)
rmse = mean_squared_error(y_val, y_pred)**0.5
r2 = r2_score(y_val, y_pred)
print('RMSE =', rmse)
print('R-squared (R2) =', r2)

time: 300
Best ML model: <flaml.automl.model.XGBoostSklearnEstimator object at 0x7fe152f3bf40>
Best hyperparameter config: {'n_estimators': 110, 'max_leaves': 32, 'min_child_weight': 47.486704865291784, 'learning_rate': 0.05834013371868716, 'subsample': 0.9686088129701762, 'colsample_bylevel': 0.9429692585104328, 'colsample_bytree': 0.8491134585138498, 'reg_alpha': 0.0036308079405438527, 'reg_lambda': 0.13883665527366124}
Best accuracy on validation data: 0.2814
Training duration of best run: 0.2917 s
RMSE = 621.3601974173334
R-squared (R2) = 0.2750472963257419

In [270]:
from lightgbm import LGBMRegressor
# from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

model = LGBMRegressor(random_state=0, n_estimators=100, max_depth=12, learning_rate=0.1)
# model = XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=40)
model.fit(X_tr, y_tr)
y_pred = model.predict(X_val)

print('rmse', mean_squared_error(y_val, y_pred)**0.5)
print('r2', r2_score(y_val, y_pred))

# n_estimators': 221, 'max_leaves': 70, 'min_child_weight': 45.30922948342341, 'learning_rate': 0.01970528161806396, 'subsample': 1.0, 'colsample_bylevel': 0.9689242265901438, 'colsample_bytree': 0.7475301169599352, 'reg_alpha': 0.002457865419586482, 'reg_lambda': 0.33635851856068555

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5)
# rmse 642.2458826383629

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=10)
# rmse 631.8699417802376

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12)
# rmse 630.5695369870006

# model = XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.04)
# rmse 631.0392385965689

# model = XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.05)
# rmse 629.7528004205491

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.06)
# rmse 629.2106579147191

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.07)
# rmse 628.6183603756747

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.08)
# rmse 627.6320590228277

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.09)
# rmse 627.6138892613734

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.1)
# rmse 626.7926180112319

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.1, min_child_weight=10)
# rmse 625.8418942386947

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.1, min_child_weight=30)
# rmse 625.7963021585679

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=12, learning_rate=0.1, min_child_weight=40)
# rmse 624.394621417145

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=14, learning_rate=0.1, min_child_weight=40)
# rmse 623.4553953847892

# XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=15, learning_rate=0.1, min_child_weight=40)
# rmse 623.1570633414522

# model = XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=16, learning_rate=0.1, min_child_weight=40)
# rmse 622.783296329842

# model = XGBRegressor(random_state=0, n_estimators=100, max_depth=5, max_leaves=17, learning_rate=0.1, min_child_weight=40)
# rmse 622.3181119615217

# XGBRegressor(random_state=0, n_estimators=110, max_depth=5, max_leaves=17, learning_rate=0.1, min_child_weight=40)
# rmse 621.8091254063429

# XGBRegressor(random_state=0, n_estimators=120, max_depth=5, max_leaves=17, learning_rate=0.1, min_child_weight=40)
# rmse 621.6598573238906

# XGBRegressor(random_state=0, n_estimators=140, max_depth=5, max_leaves=17, learning_rate=0.1, min_child_weight=40)
# rmse 621.4641731456246

# LGBMRegressor(random_state=0, n_estimators=140, max_depth=11, learning_rate=0.1)
# rmse 622.8442700607002

# LGBMRegressor(random_state=0, n_estimators=100, max_depth=11, learning_rate=0.1)
# rmse 622.8108924526603

# LGBMRegressor(random_state=0, n_estimators=100, max_depth=12, learning_rate=0.1)
# rmse 622.790951010847

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001901 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 621
[LightGBM] [Info] Number of data points in the train set: 16000, number of used features: 18
[LightGBM] [Info] Start training from score 552.239375
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
rmse 622.790951010847
r2 0.2717048780001824

In [222]:
# pred = automl.predict(test)
pred = model.predict(test)
submit = pd.DataFrame(
    {
        'ID': test_id,
        'Income': pred
    }
).to_csv('sample_submission.csv', index=False)

In [223]:
df = pd.read_csv('sample_submission.csv')
df.head()

          ID      Income
0  TEST_0000  -12.630787
1  TEST_0001   14.415291
2  TEST_0002  408.069820
3  TEST_0003  735.761200
4  TEST_0004    2.975731